aiohappyeyeballs
aiohttp
aiosignal
akshare
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
autocommand
babel
backports.tarfile
beautifulsoup4
bleach
bs4
camelot-py
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cryptography
cssselect
cssutils
cycler
dashscope
dataclasses-json
dataframe-image
debugpy
decorator
defusedxml
distro
docarray
et-xmlfile
executing
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
greenlet
h11
html2image
html5lib
httpcore
httpx
httpx-sse
huggingface-hub
idna
importlib-metadata
inflect
ipykernel
ipython
isoduration
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
jedi
jinja2
jiter
joblib
json5
jsonpatch
jsonpath
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lxml
markdown-it-py
markupsafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mini-racer
mistune
more-itertools
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
openai
opencc-python-reimplemented
opencv-python-headless
openpyxl
orjson
overrides
packaging
pandas
pandocfilters
parso
patsy
pdfminer.six
pdfplumber
pillow
pip
platformdirs
plotly
polars
prometheus-client
prompt-toolkit
propcache
psutil
pure-eval
pycparser
pydantic
pydantic-core
pydantic-settings
pygments
pymupdf
pyparsing
pypdf
pypdf2
pypdfium2
python-dateutil
python-dotenv
python-json-logger
pytz
pywin32
pywinpty
pyyaml
pyzmq
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
send2trash
setuptools
simplejson
six
sniffio
soupsieve
sqlalchemy
stack-data
statsmodels
sympy
tabula-py
tabulate
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
tomli
torch
tornado
tqdm
traitlets
transformers
tushare
typeguard
types-python-dateutil
types-requests
typing-extensions
typing-inspect
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel
xlrd
yarl
zipp
zstandard
